.button{
    padding: .9em 2.3em;
    border-radius: 1.5em;
    color:var(--white);
    font-size:1em;
    background-image: linear-gradient(to right, var(--limegreen) 0%, var(--brightcyan) 100%);;
    border:none;
}